<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <div class="row">
    <div class="col-md-8">

      <input id="userId" readonly="true" type="hidden">

        <div class="card card-primary card-outline">
          <div class="card-header bg-primary bg-opacity-10">
            <div class="d-flex justify-content-between align-items-center">
              <div class="card-title" th:text="#{label_smartcard_owner}">Card title</div>
              <button type="button" class="btn btn-sm btn-primary" onclick="cleanForm()"><i class="fa-solid fa-broom"></i></button>
            </div>
          </div>
          <div class="card-body">
            <!-- Input group for smartcard owner -->
            <div class="mb-3">
              <label for="userinfo" class="form-label" th:text="#{name}">U</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-regular fa-user"></i></span> 
                <select id="userinfo" required="true" name="userinfo" 
                        class="form-select"></select>
              </div>
            </div>

            <div class="mb-3">
              <label for="mail" class="form-label">E-Mail</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-at"></i></span> 
                <input id="mail" readonly="true" type="text" class="form-control">
              </div>
            </div>

            <div th:if="${customerNumberEnabled}" class="mb-3">
              <label for="customerNumber" class="form-label" th:text="#{label_customer_number}">CN</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span> 
                <input id="customerNumber" readonly="true" type="text" class="form-control">
              </div>
            </div>

            <div th:if="${barcodeEnabled}" class="mb-3">
              <label for="barcodeNumber" class="form-label">Barcode</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-barcode"></i></span> 
                <input id="barcodeNumber" readonly="true" type="text" class="form-control">
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <img id="barcodePNG" class="barcodePNG" alt="Barcode" style="display: none;"/>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-secondary card-outline">
          <div class="card-header bg-secondary bg-opacity-10">
            <div class="card-title"  th:text="#{label_smartcard}">Card title</div>
          </div>
          <div class="card-body">
            <!-- Input group for Serial -->
            <div class="mb-3">
              <label for="cardSerial" class="form-label" th:text="#{serial}">S</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-regular fa-id-card"></i></span> 
                <input id="cardSerial" readonly="true" type="text" class="form-control">
              </div>
            </div>

            <!-- Input group for ATR -->
            <div class="mb-3">
              <label for="cardAtr" class="form-label">ATR (Hex)</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fa-regular fa-credit-card"></i></span> 
                <input id="cardAtr" readonly="true" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>              
    </div>

    <div class="col-md-4">

      <div class="card card-primary card-outline" style="width: 232px; height: 362px">
        <div class="card-header bg-primary bg-opacity-10">
          <div class="card-title" th:text="#{label_photo}">P</div>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <img id="jpegPhoto" class="jpegPhoto" alt="User Photo" style="display: none;"/>
        </div>
      </div>

      <div id="actions_card" class="card card-success card-outline" style="width: 232px;">
        <div class="card-header bg-success bg-opacity-10">
          <div class="card-title" th:text="#{label_actions}">Card title</div>
        </div>
        <div class="card-body">
          <p id="action_payment1" style="display: none">
            <a style="width: 100%" class="btn btn-primary"
               hx-get="/posx/sales"
               hx-target="#appMainContainer" 
               hx-trigger="click">Kasse</a>
          </p>
          <p id="action_payment2" style="display: none"><a style="width: 100%" class="btn btn-primary">Kassenbuch</a></p>
          <p id="action_issuing" style="display: none">
            <button disabled="true" id="action_issuing_button" style="width: 100%" class="btn btn-primary" onclick='Swal.fire({
                  title: "Karte herausgeben?",
                  icon: "question",
                  showCancelButton: true,
                  confirmButtonText: "Herausgeben",
                  cancelButtonText: "Abbruch",
                }).then((result) => {
                  /* Read more about isConfirmed, isDenied below */
                  if (result.isConfirmed) {
                    Swal.fire("Gespeichert!", "Karte erfolgreich herausgegeben.", "success");
                  }
                });'>
              Kartenausgabe
            </button>
          </p>
          <p sec:authorize="hasAnyRole('ROLE_POS_ADMINISTRATOR','POS_OWNER')" th:remove="tag">
            <a style="width: 100%" class="btn btn-danger">Administration</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</html>