<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <div class="row">
    <h1 th:text="#{sales_page}" style="margin: 10px;">Sales Page</h1>

    <div class="col-md-8">
      <div class="app-content">
        <div class="container-fluid">
          <div class="card card-primary card-outline mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
              <div class="card-title mb-0" th:text="#{product}" style="font-weight: bold;">Produkte</div>
            </div>
            <div class="card-body p-0">
              <form method="post" action="/posx/sales/addToCart" hx-post="/posx/sales/addToCart" hx-target="#cartTable">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 50%"><span th:text="#{product.name}">Produktname</span></th>
                      <th style="width: 10%"><span th:text="#{product.price}">Preis (€)</span></th>
                      <th style="width: 20%"><span th:text="#{product.category.name}">Kategorie</span></th>
                      <th style="width: 20%"><span th:text="#{variations}">Variationen</span></th>
                      <th><span th:text="#{actions}">Aktionen</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="product : ${products}">
                      <td>
                        <input type="hidden" name="productId" th:value="${product.id}" />
                        <span th:text="${product.name}"></span>
                        <input type="hidden" name="productName" th:value="${product.name}" />
                      </td>
                      <td>
                        <span th:text="${product.price} + ' €'"></span>
                        <input type="hidden" name="productPrice" th:value="${product.price}" />
                      </td>
                      <td>
                        <span th:text="${product.category.name}"></span>
                        <input type="hidden" name="productCategory" th:value="${product.category.name}" />
                      </td>
                      <td>
                        <select name="variationId" th:if="${product.variations.size() > 0}" class="form-select">
                          <option value="">Keine</option>
                          <option th:each="variation : ${product.variations}"
                                  th:value="${variation.id}"
                                  th:text="${variation.name} + ' - ' + ${variation.price} + ' €'">
                          </option>
                        </select>
                      </td>
                      <td>
                        <button type="submit" class="btn btn-success">
                          <i class="fa-solid fa-cart-plus"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="app-content">
        <div class="container-fluid">
          <div class="card card-primary card-outline mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
              <div class="card-title mb-0" th:text="#{shopping_cart}" style="font-weight: bold;">Warenkorb</div>
            </div>          
            <div class="card-body p-0">
              <form method="post" action="/posx/sales/checkout" hx-post="/posx/sales/checkout" hx-target="#cartTable">
                <table class="table table-striped" id="cartTable">
                  <thead>
                    <tr>
                      <th style="width: 50%"><span th:text="#{product.name}">Produktname</span></th>
                      <th style="width: 50%"><span th:text="#{product.price}">Preis (€)</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="item : ${cart}">
                      <td th:text="${item.name}"></td>
                      <td th:text="${item.price} + ' €'"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-footer d-flex justify-content-center" style="gap: 25px;">
                  <button type="submit" class="btn btn-success" style="margin-left: 30px;">Bezahlen</button>
                  <form method="post" action="/posx/sales/clearCart" hx-post="/posx/sales/clearCart" hx-target="#cartTable">
                    <button type="submit" class="btn btn-danger" style="margin-left: 80px;">Abbrechen</button>
                  </form>
                </div>
              </form>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <a style="width: 100%; margin-top: 50px;" class="btn btn-primary"
     hx-get="/posx/customer"
     hx-target="#appMainContainer"
     hx-trigger="click">Zur Kundensuchen zurück</a>

</html>
