<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>POS Admin</title>
    <div th:replace="~{app/admin::head}"></div>
  </head>

  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <div th:replace="~{app/admin::header}"></div>
      <div th:replace="~{app/sidebar::sidebar}"></div>

      <main class="app-main">

        <div class="app-content-header">
          <div class="container-fluid">
            <div class="d-flex align-items-center">
              <h3 class="mb-0 me-2" th:text="#{address}">T</h3>
              <h3 th:unless="${addAddress}" class="mb-0" th:text="${': ' + formAddress.name}">T</h3>
            </div>
          </div> 
        </div>

        <div class="app-content">
          <div class="container-fluid">

            <div class="w-100"> 
              <div class="card card-primary card-outline mb-4">
                <div class="card-header">
                  <div class="card-title" th:text="#{settings}">S</div>
                </div>
                <form th:action="${addAddress} ? @{/admin/address/add} : @{/admin/address/{id}(id=${formAddress.id})}" 
                      th:object="${formAddress}" th:method="POST">

                  <input type="hidden" th:field="*{id}"/>

                  <div class="card-body">
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{name}">N</label> 
                      <input type="text" class="form-control" th:field="*{name}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{name}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{description}">N</label> 
                      <input type="text" class="form-control" th:field="*{description}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{description}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{addressLine1}">N</label> 
                      <input type="text" class="form-control" th:field="*{addressLine1}" />
                      <div th:if="${#fields.hasErrors('addressLine1')}" class="text-danger">
                        <span th:errors="*{addressLine1}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{addressLine2}">N</label> 
                      <input type="text" class="form-control" th:field="*{addressLine2}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{addressLine2}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{postalCode}">N</label> 
                      <input type="number" min="0" max="99999" size="5" oninput="this.value=this.value.slice(0,5)" class="form-control" th:field="*{postalCode}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{postalCode}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="city" class="form-label" th:text="#{city}">N</label> 
                      <input type="text" class="form-control" th:field="*{city}" />
                      <div th:if="${#fields.hasErrors('city')}" class="text-danger">
                        <span th:errors="*{city}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{state}">N</label> 
                      <input type="text" class="form-control" th:field="*{state}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{state}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{country}">N</label> 
                      <input type="text" class="form-control" th:field="*{country}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{country}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{telephonenumber}">N</label> 
                      <input type="text" class="form-control" th:field="*{telephonenumber}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{telephonenumber}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{email}">N</label> 
                      <input type="text" class="form-control" th:field="*{email}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{email}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{taxnumber}">N</label> 
                      <input type="text" class="form-control" th:field="*{taxnumber}" />
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{taxnumber}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end"> 
                    <button type="submit" class="btn btn-primary" 
                            th:text="#{save}">S</button> 
                    <a type="button" class="btn btn-danger" 
                       th:href="@{/admin/address}"
                       th:text="#{cancel}" >C</a>                  
                  </div>
                </form>
              </div>
            </div>
          </div>
      </main>
    </div>

    <script th:replace="~{app/admin::scripts}" th:remove="tag" />
  </body>
</html>
