<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Categories</title>
    <div th:replace="~{app/admin::head}"></div>
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <div th:replace="~{app/admin::header}"></div>
      <div th:replace="~{app/sidebar::sidebar}"></div>

      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="col-sm-6">
              <h3 class="mb-0" th:text="#{category}">Properties</h3>
            </div>
          </div>
        </div>

        <div class="app-content">
          <div class="container-fluid">
            <div class="card card-primary card-outline mb-4">
              <div class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title mb-0" th:text="#{overview}">Overview</div>
                <div class="ms-auto">
                  <a class="btn btn-success" th:href="@{/admin/category/add}">
                    <i class="fa-solid fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 80%"><span th:text="#{name}">Key</span></th>
                      <th style="width: 20%"><span th:text="#{hidden}">Hidden</span></th>
                      <th><span th:text="#{actions}">Actions</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="entry : ${categories}">
                      <td th:text="${entry.name}"></td>        
                      <td th:text="#{${entry.hidden}}"></td>
                      <td class="text-nowrap">
                        <span th:unless="${entry.immutable}" th:remove="tag">
                          <a class="btn btn-primary" th:href="@{/admin/category/{id}(id=${entry.id})}"
                             th:title="${entry.id}">
                            <i class="fa-solid fa-pencil"></i>
                          </a>
                          <button class="btn btn-danger" onclick="confirmDelete(this)" th:attr="data-id=${entry.id}, data-name=${entry.name}">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </span>
                        <span th:if="${entry.immutable}" th:remove="tag">
                          <button class="btn btn-outline-dark" disabled>
                            <i class="fa-solid fa-lock"></i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script th:replace="~{app/admin::scripts}" th:remove="tag"/>

    <script th:if="${savedCategory}" th:inline="javascript">
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: /*[[#{saved}+'!']]*/ 'Title',
        text: /*[[${savedCategory.name} + ' ' + #{saved}]]*/ 'Text',
        showConfirmButton: false,
        timer: 2000
      });
    </script>

    <script th:if="${deletedCategory}" th:inline="javascript">
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: /*[[#{deleted}+'!']]*/ 'Title',
        text: /*[[${deletedCategory.name} + ' ' + #{deleted}]]*/ 'Text',
        showConfirmButton: false,
        timer: 2000
      });
    </script>

    <script th:inline="javascript">
      function confirmDelete(button) {
        const id = button.getAttribute("data-id");
        const name = button.getAttribute("data-name");
        const deleteMessage = `[[#{confirm.delete.text}]]`.replace("{0}", name).slice(1, -1);


        Swal.fire({
          title: /*[[#{confirm.delete.title}]]*/ 'T',
          text: deleteMessage,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: /*[[#{confirm.delete.confirmButton}]]*/ 'OK', // Lokalisierter Text für Bestätigungsbutton
          cancelButtonText: /*[[#{confirm.delete.cancelButton}]]*/ 'Cancel' // Lokalisierter Text für Abbrechen-Button
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = `/admin/category/${id}/delete`;
          }
        });
      }
    </script>
  </body>
</html>