<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Property Form</title>
    <div th:replace="~{app/admin::head}"></div>
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <div th:replace="~{app/admin::header}"></div>
      <div th:replace="~{app/sidebar::sidebar}"></div>

      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="d-flex align-items-center">
              <h3 class="mb-0 me-2" th:text="#{category}">Category</h3>
              <h3 th:unless="${addCategory}" class="mb-0" th:text="${': ' + formCategory.name}"></h3>
            </div>
          </div> 
        </div>

        <div class="app-content">
          <div class="container-fluid">
            <div class="w-100"> 
              <div class="card card-primary card-outline mb-4">
                <div class="card-header">
                  <div class="card-title" th:text="#{overview}">Details</div>
                </div>
                <form th:action="${addCategory} ? @{/admin/category/add} : @{/admin/category/{id}(id=${formCategory.id})}" 
                      th:object="${formCategory}" th:method="POST">

                  <input type="hidden" th:field="*{id}"/>
                  <input type="hidden" th:field="*{tenantId}"/>

                  <div class="card-body">
                    <div class="mb-3"> 
                      <label for="name" class="form-label" th:text="#{name}">Key</label> 
                      <input type="text" class="form-control" th:field="*{name}"/>
                      <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                        <span th:errors="*{name}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end"> 
                    <button type="submit" class="btn btn-primary" 
                            th:text="#{save}">Save</button> 
                    <a type="button" class="btn btn-danger" 
                       th:href="@{/admin/category}"
                       th:text="#{cancel}" >Cancel</a>                  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script th:replace="~{app/admin::scripts}" th:remove="tag"/>
    
    <script th:if="${saveCategoryError}" th:inline="javascript">
      Swal.fire({
        position: "top-end",
        icon: "error",
        title: 'Fehler',
        text: 'Eigenschaft wurde nicht gespeichert. Schlüssel nicht einzigartig.'
      });
    </script>
    
  </body>
</html>