<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Properties</title>
    <div th:replace="~{app/admin::head}"></div>
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <div th:replace="~{app/admin::header}"></div>
      <div th:replace="~{app/sidebar::sidebar}"></div>

      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="col-sm-6">
              <h3 class="mb-0" th:text="#{properties}">Properties</h3>
            </div>
          </div>
        </div>

        <div class="app-content">
          <div class="container-fluid">
            <div class="card card-primary card-outline mb-4">
              <div style="background-color: #e8f0ff;" class="card-header d-flex align-items-center justify-content-between">
                <div class="card-title mb-0" th:text="#{overview}">Overview</div>
                <div class="ms-auto">
                  <a class="btn btn-success" th:href="@{/admin/property/add}">
                    <i class="fa-solid fa-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 30%"><span th:text="#{key}">Key</span></th>
                      <th style="width: 70%" ><span th:text="#{value}">Value</span></th>
                      <th><span th:text="#{actions}">Actions</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="entry : ${properties}">
                      <td th:text="${entry.key}"></td>
                      <td th:text="${entry.value}"></td>
                      <td class="text-nowrap">
                        <a class="btn btn-primary" th:href="@{/admin/property/{id}(id=${entry.id})}"
                           th:title="${entry.id}">
                          <i class="fa-solid fa-pencil"></i>
                        </a>
                        <button class="btn btn-danger" onclick="confirmDelete(this)" th:attr="data-id=${entry.id}, data-key=${entry.key}">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script th:replace="~{app/admin::scripts}" th:remove="tag"/>

    <script th:if="${savedProperty}" th:inline="javascript">
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: /*[[#{saved}+'!']]*/ 'Title',
        text: /*[[${savedProperty.key} + ' ' + #{saved}]]*/ 'Text',
        showConfirmButton: false,
        timer: 2000
      });
    </script>

    <script th:if="${deletedProperty}" th:inline="javascript">
      Swal.fire({
        position: "top-end",
        icon: "success",
        title: /*[[#{deleted}+'!']]*/ 'Title',
        text: /*[[${deletedProperty.key} + ' ' + #{deleted}]]*/ 'Text',
        showConfirmButton: false,
        timer: 2000
      });
    </script>

    <script th:inline="javascript">
      function confirmDelete(button) {
        const id = button.getAttribute("data-id");
        const key = button.getAttribute("data-key");

        Swal.fire({
          title: 'Are you sure?',
          text: `You are about to delete "${key}". This action cannot be undone.`,
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'Cancel'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = `/admin/property/${id}/delete`;
          }
        });
      }
    </script>

  </body>
</html>