<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Form</title>
    <div th:replace="~{app/admin::head}"></div>
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <div th:replace="~{app/admin::header}"></div>
      <div th:replace="~{app/sidebar::sidebar}"></div>

      <main class="app-main">
        <div class="app-content-header">
          <div class="container-fluid">
            <div class="d-flex align-items-center">
              <h3 class="mb-0 me-2" th:text="#{user}">User</h3>
              <h3 th:unless="${addUser}" class="mb-0" th:text="${': ' + formUser.gecos}"></h3>
            </div>
          </div> 
        </div>

        <div class="app-content">
          <div class="container-fluid">
            <div class="w-100"> 
              <div class="card card-primary card-outline mb-4">
                <div style="background-color: #e8f0ff;" class="card-header d-flex align-items-center justify-content-between">
                  <div class="card-title" th:text="#{overview}">Details</div>
                </div>
                <form th:action="${addUser} ? @{/admin/user/add} : @{/admin/user/{id}(id=${formUser.id})}" 
                      th:object="${formUser}" th:method="POST">

                  <input type="hidden" th:field="*{id}"/>
                  <input type="hidden" th:field="*{username}"/>
                  <input type="hidden" th:field="*{tenantId}"/>

                  <div class="card-body">
                    <div class="mb-3"> 
                      <label for="gecos" class="form-label" th:text="#{gecos}">Gecos</label> 
                      <input type="text" class="form-control" th:field="*{gecos}" readonly="true"/>
                      <div th:if="${#fields.hasErrors('gecos')}" class="text-danger">
                        <span th:errors="*{gecos}"></span>
                      </div>
                    </div>
                    <div class="mb-3"> 
                      <label for="role" class="form-label" th:text="#{role}">Role</label> 

                      <select class="form-control select2" th:field="*{role}" style="width: 100%;">
                        <div th:remove="tag" th:each="roleEntry : ${roles}">
                          <option th:value="${roleEntry}" 
                                  th:text="#{${roleEntry}} + ' (' + ${roleEntry} + ')'"
                                  th:selected="${roleEntry} == *{role}"
                                  >R</option>
                        </div>
                      </select>

                      <div th:if="${#fields.hasErrors('role')}" class="text-danger">
                        <span th:errors="*{role}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end"> 
                    <button type="submit" class="btn btn-primary" 
                            th:text="#{save}">Save</button> 
                    <a type="button" class="btn btn-danger" 
                       th:href="@{/admin/user}"
                       th:text="#{cancel}" >Cancel</a>                  
                  </div>
                </form>
              </div>

              <div class="card card-success card-outline mb-4">
                <div style="background-color: #e8fff0;" class="card-header d-flex align-items-center justify-content-between">
                  <div class="card-title" th:text="#{usersearch}">S</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </main>
    </div>

    <script th:replace="~{app/admin::scripts}" th:remove="tag"/>

    <script th:if="${saveUserError}" th:inline="javascript">
      Swal.fire({
        position: "top-end",
        icon: "error",
        title: 'Fehler',
        text: 'Eigenschaft wurde nicht gespeichert. Schlüssel nicht einzigartig.'
      });
    </script>

  </body>
</html>