<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="posJs" th:remove="tag">
    <script th:inline="javascript">
      var ws;

      function connect() {

        fetch("http://localhost:38080/api/v1/posname", {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          referrerPolicy: 'no-referrer' // Setzt die Referrer-Policy
        }).then(response => response.json()).then(data => {
          if (data.posname)
          {
            document.getElementById("posname").innerHTML = data.posname;
            document.getElementById("posnameMenu").style.display = "inherit";

            fetch("/api/v1/pos/" + data.posname)
                    .then(response => response.json()).then(pos => {
              console.log(pos);

              if (pos.cardIssuing || pos.cardPayment)
              {
                document.getElementById("actions_card").style.display = "inherit";
              }

              if (pos.cardIssuing)
              {
                document.getElementById("action_issuing").style.display = "inherit";
              }

              if (pos.cardPayment)
              {
                document.getElementById("action_payment1").style.display = "inherit";
                document.getElementById("action_payment2").style.display = "inherit";
              }

            });

          }
        });

        ws = new WebSocket("ws://localhost:38080/scmon");

        ws.onmessage = function (event) {
          var dtoEvent = JSON.parse(event.data);
          console.log("Received event: ", dtoEvent);

          if (dtoEvent.event === "heartbeat") {
            document.getElementById("timestamp").innerHTML
                    = '<i style="margin-right: 1em" class="fa-regular fa-clock"></i>' + new Date(dtoEvent.timestamp).toLocaleString();
          }

          if (dtoEvent.event === "cardInserted" && dtoEvent.card) {
            document.getElementById("cardAtr").value = dtoEvent.card.atr;

            var serial = dtoEvent.card.serial;
            document.getElementById("cardSerial").value = serial;

            fetch("/api/v1/userinfo/" + serial)
                    .then(response => response.json())
                    .then(userinfo => {
                      if (userinfo.mail) {
                        document.getElementById("userinfo").value
                                = userinfo.givenName + " " + userinfo.sn;
                        document.getElementById("mail").value = userinfo.mail;

                        if (userinfo.jpegPhoto) {
                          var jpegPhotoElement = document.getElementById("jpegPhoto");
                          jpegPhotoElement.src = "data:image/jpeg;base64," + userinfo.jpegPhoto;
                          jpegPhotoElement.style.display = "block";
                        }
                      }

                      if (userinfo.barcodeNumber)
                      {
                        document.getElementById("barcodeNumber").value
                                = userinfo.barcodeNumber;

                        if (userinfo.barcodePNG) {
                          var barcodePNGElement = document.getElementById("barcodePNG");
                          barcodePNGElement.src = "data:image/png;base64," + userinfo.barcodePNG;
                          barcodePNGElement.style.display = "block";
                        }
                      }

                      if (userinfo.customerNumber)
                      {
                        document.getElementById("customerNumber").value
                                = userinfo.customerNumber;
                      }
                    })
                    .catch(error => {
                      console.error('Error fetching user info:', error);
                    });
          }

          if (dtoEvent.event === "cardRemoved") {
            document.getElementById("cardSerial").value = '';
            document.getElementById("cardAtr").value = '';
            document.getElementById("userinfo").value = '';
            document.getElementById("mail").value = '';

            var jpegPhotoElement = document.getElementById("jpegPhoto");
            jpegPhotoElement.style.display = "none";
            jpegPhotoElement.src = '';

            /*[# th:if="${customerNumberEnabled}"]*/
            document.getElementById("customerNumber").value = '';
            /*[/]*/

            /*[# th:if="${barcodeEnabled}"]*/
            document.getElementById("barcodeNumber").value = '';
            var barcodePNGElement = document.getElementById("barcodePNG");
            barcodePNGElement.style.display = "none";
            barcodePNGElement.src = '';
            /*[/]*/
          }
        };

        ws.onopen = function () {
          console.log("WebSocket connection opened.");
        };

        ws.onclose = function () {
          console.log("WebSocket connection closed.");
        };

        ws.onerror = function (error) {
          console.log("WebSocket error: ", error);
        };
      }

      window.onload = function () {
        connect();
      };

    </script>
  </div>
</html>
