<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="scripts" th:remove="tag">
    <!--begin::Scripts-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/adminlte.min.js}"></script>
    <script th:src="@{/webjars/select2/dist/js/select2.min.js}" ></script>
    <script> $('.select2').select2({ theme: 'bootstrap-5' }); </script>
    <!--end::Scripts-->
  </div>
</html>
