<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Fragments</title>
  </head>
  <body>
    <div th:fragment="sidebar" th:remove="tag">
      <!--begin::Sidebar-->
      <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> 

        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand"> 
          <!--begin::Brand Link--> 
          <a th:href="@{/}" class="brand-link"> 
            <!--begin::Brand Image--> 
            <!-- <img th:src="@{/assets/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" /> -->
            <!--end::Brand Image--> 
            <!--begin::Brand Text--> 
            <span class="brand-text fw-light">POS Admin</span> 
            <!--end::Brand Text--> 
          </a> 
          <!--end::Brand Link--> 
        </div> 
        <!--end::Sidebar Brand--> 

        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">

            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">

              <li class="nav-item">
                <a th:href="@{/admin/home}" class="nav-link"
                   th:classappend="${activePages == 'home'} ? ' active' : ''">
                  <i class="nav-icon fa-solid fa-gauge-high me-2"></i>
                  <p th:text="#{dashboard}">Dashboard</p>
                </a>
              </li>

              <li class="nav-item">
                <a th:href="@{/admin/cashbook}" class="nav-link"
                   th:classappend="${activePages == 'cashbook'} ? ' active' : ''">
                  <i class="nav-icon fa-solid fa-book me-2"></i>
                  <p th:text="#{cash_books}">Kassenbuch</p>
                </a>
              </li>

              <div sec:authorize="hasAnyRole('ROLE_POS_ADMINISTRATOR','ROLE_POS_OWNER')" th:remove="tag">
                <li class="nav-header">OWNER</li>
                <li class="nav-item">
                  <a th:href="@{/admin/category}" class="nav-link"
                     th:classappend="${activePages == 'category'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-layer-group me-2"></i>
                    <p th:text="#{categories}">Kategorien</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a th:href="@{/admin/product}" class="nav-link"
                     th:classappend="${activePages == 'product'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-bullseye me-2"></i>
                    <p th:text="#{products}">Produkte</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a th:href="@{/admin/user}" class="nav-link"
                     th:classappend="${activePages == 'user'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-user-group me-2"></i>
                    <p th:text="#{users}">Benutzer</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a th:href="@{/admin/property}" class="nav-link"
                     th:classappend="${activePages == 'property'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-gear me-2"></i>
                    <p th:text="#{properties}">T</p>
                  </a>
                </li>

              </div>

              <!-- /////////////////////////////////////////// -->              

              <div sec:authorize="hasRole('ROLE_POS_ADMINISTRATOR')" th:remove="tag">

                <li class="nav-header">ADMINISTRATOR</li>

                <li class="nav-item">
                  <a th:href="@{/admin/pointOfSale}" class="nav-link"
                     th:classappend="${activePages == 'pointOfSale'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-cash-register me-2"></i>
                    <p th:text="#{points_of_sale}">Kassensystem</p>
                  </a>
                </li>

                <li class="nav-header">SYSTEM</li>

                <li class="nav-item">
                  <a th:href="@{/admin/tenant}" class="nav-link"
                     th:classappend="${activePages == 'tenant'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-building me-2"></i><p th:text="#{tenants}">T</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a th:href="@{/admin/address}" class="nav-link"
                     th:classappend="${activePages == 'address'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-location-dot me-2"></i><p th:text="#{addresses}">T</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a th:href="@{/admin/creditcardreader}" class="nav-link"
                     th:classappend="${activePages == 'creditcardreader'} ? ' active' : ''">
                    <i class="nav-icon fa-solid fa-credit-card me-2"></i>
                    <p th:text="#{credit_card_reader}">Reader</p>
                  </a>
                </li>

                <!-- /////////////////////////////////////////// -->              

                <div th:if="${appDevelopment}" th:remove="tag">
                  <li class="nav-header">DEVELOPER</li>
                  <li class="nav-item">
                    <a th:href="@{/admin/apitest/home}" class="nav-link"
                       th:classappend="${activePages == 'apitest'} ? ' active' : ''">
                      <i class="nav-icon me-2 fa-solid fa-handshake"></i>
                      <p>API Tests</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a target="_blank" th:href="@{/signotec/index.html}" class="nav-link">
                      <i class="nav-icon me-2 fa-solid fa-pencil"></i>
                      <p>signotec test</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link"> 
                      <i class="nav-icon bi bi-bug me-2"></i>
                      <p>
                        Error Pages
                        <i class="nav-arrow bi bi-chevron-right"></i>
                      </p>
                    </a>

                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a th:href="@{/system/test/400}" class="nav-link">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>400 Bad Request</p>
                        </a> 
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/system/test/403}" class="nav-link">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>403 Permission denied</p>
                        </a> 
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/system/test/404}" class="nav-link">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>404 Page not found</p>
                        </a> 
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/system/test/500}" class="nav-link">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>500 Internal server error</p>
                        </a> 
                      </li>
                    </ul>
                  </li>

                  <!-- /////////////////////////////////////////// -->              

                  <li class="nav-item"
                      th:classappend="${layoutCategory == 'info'} ? ' menu-open' : ''">
                    <a th:href="@{/ui/info/info}" class="nav-link"> 
                      <i class="nav-icon bi bi-info-circle me-2"></i>
                      <p>
                        Info
                        <i class="nav-arrow bi bi-chevron-right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a th:href="@{/ui/info/build-properties}" class="nav-link"
                           th:classappend="${layoutPage == 'build-properties'} ? ' active' : ''">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>Build Properties</p>
                        </a> 
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/ui/info/system-properties}" class="nav-link"
                           th:classappend="${layoutPage == 'system-properties'} ? ' active' : ''">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>System Properties</p>
                        </a> 
                      </li>
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="nav-icon bi bi-cpu"></i>
                          <p>Actuator
                            <i class="nav-arrow bi bi-chevron-right"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview">
                          <li class="nav-item">
                            <a th:href="${webBaseUrl + ':9091/actuator/info'}" class="nav-link" target="_blank">
                              <i class="nav-icon bi bi-circle-fill"></i>
                              <p>Info</p>
                            </a> 
                          </li>
                          <li class="nav-item">
                            <a th:href="${webBaseUrl + ':9091/actuator/health'}" class="nav-link" target="_blank">
                              <i class="nav-icon bi bi-circle-fill"></i>
                              <p>Health</p>
                            </a> 
                          </li>
                          <li class="nav-item">
                            <a href="#" class="nav-link">
                              <i class="nav-icon bi bi-circle-fill"></i>
                              <p>Metrics
                                <i class="nav-arrow bi bi-chevron-right"></i>
                              </p>
                            </a>
                            <ul class="nav nav-treeview">
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>Overview</p>
                                </a> 
                              </li>
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics/disk.free'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>Disk free</p>
                                </a> 
                              </li>
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics/jvm.info'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>JVM info</p>
                                </a> 
                              </li>
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics/jvm.memory.used'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>JVM memory used</p>
                                </a> 
                              </li>
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics/jvm.threads.started'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>JVM threads started</p>
                                </a> 
                              </li>
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics/process.uptime'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>Process uptime</p>
                                </a> 
                              </li>
                              <li class="nav-item">
                                <a th:href="${webBaseUrl + ':9091/actuator/metrics/system.cpu.count'}" class="nav-link" target="_blank">
                                  <i class="nav-icon bi bi-record-circle-fill"></i>
                                  <p>System cpu count</p>
                                </a> 
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </div>
              </div>
            </ul> 
            <!--end::Sidebar Menu-->
          </nav>
        </div> 
        <!--end::Sidebar Wrapper-->
      </aside> 
      <!--end::Sidebar--> 

    </div>
  </body>
</html>
