<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>L9G Smartcard Front</title>
    <div th:replace="~{app/header::head}"></div>
  </head>
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
      <div th:replace="~{app/header::header}"></div>
      <!--begin::App Main-->
      <main class="app-main">
        <div style="margin-top: 3em" class="container">
          <div class="d-flex justify-content-center">
            <p>
              <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/posx/redirect}">
                <span th:text="#{login}" th:remove="tag">login</span>
              </a>
              <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/posx/home}">
                <span th:text="#{point_of_sale}" th:remove="tag">pos</span>
              </a>
            </p>
          </div>   
          <div class="d-flex justify-content-center">
            <p sec:authorize="hasAnyRole('ROLE_POS_ADMINISTRATOR','POS_OWNER')">
              <a class="btn btn-danger" th:href="@{/admin/home}">Administration</a>
            </p>
          </div>
        </div>        
      </main> 
      <!--end::App Main-->
    </div>
    <script th:replace="~{app/scripts::scripts}" th:remove="tag" />
  </body>
</html>