<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>L9G Smartcard Front</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"></link>
    <style>
      .jpegPhoto {
        float: right;
        margin-left: 1em;
        max-width: 150px;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">L9G Smartcard Front</a>
        <div class="d-flex">
          <span class="navbar-text">
            Hi, <span style="margin-right: 1em" th:text="${fullname}">fullname</span>
          </span>
          <form style="margin-left: 1em" hx-post="/logout" hx-target="this">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
            <button type="submit" class="btn btn-outline-secondary">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    <div style="margin-top: 2em" class="container" 
         hx-ws="connect:ws://localhost:38080/scmon">

      <img id="jpegPhoto" class="jpegPhoto" alt="User Photo" style="display: none;"/>

      <!-- Input group for Timestamp -->
      <div class="mb-3">
        <label for="timestamp" class="form-label">Smartcard monitor heartbeat</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-clock"></i></span> 
          <input id="timestamp" type="text" class="form-control" 
                 hx-ws="message:heartbeat" hx-swap="outerHTML">
        </div>
      </div>

      <!-- Input group for ATR -->
      <div class="mb-3">
        <label for="cardAtr" class="form-label">ATR (Hex)</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-card-heading"></i></span> 
          <input id="cardAtr" type="text" class="form-control" 
                 hx-ws="message:cardInserted" hx-swap="outerHTML">
        </div>
      </div>

      <!-- Input group for Serial -->
      <div class="mb-3">
        <label for="cardSerial" class="form-label">Serial</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person-vcard"></i></span> 
          <input id="cardSerial" type="text" class="form-control" 
                 hx-ws="message:cardInserted" hx-swap="outerHTML">
        </div>
      </div>

      <!-- Input group for User Info -->
      <div class="mb-3">
        <label for="userinfo" class="form-label">User Info</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span> 
          <input id="userinfo" type="text" class="form-control" 
                 hx-get="/api/v1/userinfo/{serial}" 
                 hx-trigger="change from:#cardSerial" 
                 hx-target="#userinfo" hx-swap="outerHTML">
        </div>
      </div>

      <div class="mb-3">
        <label for="mail" class="form-label">E-Mail</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope-at"></i></span> 
          <input id="mail" type="text" class="form-control" 
                 hx-get="/api/v1/userinfo/{serial}" 
                 hx-trigger="change from:#cardSerial" 
                 hx-target="#mail" hx-swap="outerHTML">
        </div>
      </div>
    </div>

    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <script th:src="@{/webjars/htmx.org/dist/ext/ws.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
