<div id="cartTable" th:fragment="cartTable">
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 32%;"><span th:text="#{products}">Produktname</span></th>
      <th style="width: 17%;"><span th:text="#{product.quantity}">Produktname</span></th>
      <th style="width: 17%;"><span th:text="#{price} + ' (€)'">Produktname</span></th>
      <th style="width: 17%;"><span th:text="#{tax} + ' (%)'">Produktname</span></th>
      <th style="width: 17%;"><span th:text="#{salesbook.amount} + ' (€)'">Produktname</span></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="entry : ${cart.entrySet()}">
      <td th:text="${entry.value.product.name}"></td>
      <td th:text="${entry.value.quantity}"></td>
      <td th:text="${entry.value.product.price}"></td>
      <td th:text="${entry.value.product.tax}"></td>
      <td th:text="${#numbers.formatDecimal(entry.value.quantity * (entry.value.product.price * (1 + entry.value.product.tax/100)), 1, 'COMMA', 2, 'POINT')}"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr style="border-top: 3px solid black;">
      <td colspan="4"><strong>Gesamtsteuer:</strong></td>
      <td th:text="${#numbers.formatDecimal(totalTax, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>
    </tr>
    <tr>
      <td colspan="4"><strong>Gesamtpreis (exkl. Steuer):</strong></td>
      <td th:text="${#numbers.formatDecimal(totalPriceExel, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>
    </tr>
    <tr>
      <td colspan="4"><strong>Gesamtbetrag (inkl. Steuer):</strong></td>
      <td th:text="${#numbers.formatDecimal(totalPriceIncl, 1, 'COMMA', 2, 'POINT')} + ' €'"></td>
    </tr>
  </tfoot>
</table>

<div class="card-footer d-flex justify-content-center" style="gap: 25px;">
  <form method="post" action="/posx/sales/checkout" hx-post="/posx/sales/checkout" hx-target="#appMainContainer">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit"
            class="btn btn-success"
            style="margin-left: 30px;"
            th:disabled="${cart == null or cart.isEmpty()}"
            th:title="${cart == null or cart.isEmpty()} ? 'Bitte zuerst Produkte in den Warenkorb legen' : null">
      Bezahlen
    </button>
  </form>

  <form method="post" action="/posx/sales/clearCart" hx-post="/posx/sales/clearCart" hx-target="#appMainContainer">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-danger">Abbrechen</button>
  </form>
</div> 
</div>